.content-section { width: 100%; margin: 0 auto; padding: 50px 20px;
  &--watched {opacity: 0; transition:opacity .3s linear; transition-delay:.3s;}
  &.in-view { opacity: 1;}
}

.container { width: 100%; max-width: 1080px; margin: 0 auto;
  &--small { max-width: 1200px;}
}

@media screen and (max-width: $medium-screen) {
  .content-section { padding: 40px 0 20px 0;}
  .container { padding: 0 20px;}
}

.flex {
	display: flex;
}

.flex-j-sb {
	justify-content: space-between;
}

.flex-a-fs {
	align-items: flex-start;
}

.nsp-background {
	background-image: url('img/nsp/vague.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 1530px;
	display: flex;
	justify-content: space-around;
	position: relative;

	&-logo {
		background-image: url('img/nsp/verre.png');
		background-repeat: no-repeat;
		height: 870px;
		width: 70%;
		position: relative;

		.logo {
			position: absolute;
			left: 50%;
			top: 5rem;
			transform: translateX(-50%);
		}
	}

	h1 {
		font-size: 2.5rem;
		margin-top: 5rem;
		margin-bottom: 2rem;
	}

	&-content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		padding: 5rem;
	}
}