// Jaune
$stew-light: #FFD43D;
$stew: #FFC600;
$stew-dark: #EBB600;

// Rose
$amber-light: #FAC2D5;
$amber: #F8ACC6;
$amber-dark: #F58Eb1;

// Bleu
$water-light: #6DB4F8;
$water: #3D9CF6;
$water-dark: #0B83F4;

// Turquoise
$ruyhoDraft-light: #ACDEE2;
$ruyhoDraft: #85CED4;
$ruyhoDraft-dark: #61BFC7;

// vert
$imperialStout-light: #50A498;
$imperialStout: #3F8177;
$imperialStout-dark: #2F6059;

// noir
$black: #121212; 

// gris
$g50: #F4F7FB;
$g100: #EAF0F6;
$g200: #DAE3EC;
$g300: #CED9E3;
$g400: #C0CCD8;
$g500: #A8B8C7;
$g600: #8B9FB1;
$g700: #687E92;
$g800: #4D6174;
$g900: #2D3E4D;

// Font sizes
$fz--h1: 19px;
$fz--h2: 28px;
$fz--h3: 18px;
$fz--h4: 15px;
$fz--h5: 12px;
$fz--text: 14px;
$fz--text--small: 11px;
$fz--button: 20px;

// Border radius sizes
$br-size : 14px;
$br-size--small : 5px;

// Screen sizes
$large-screen: 1200px;
$medium-screen: 980px ;
$small-screen: 768px;
$x-small-screen: 500px;
