// Jaune
$stew-light: #FFD43D;
$stew: #FFC600;
$stew-dark: #EBB600;

// Rose
$amber-light: #FAC2D5;
$amber: #F8ACC6;
$amber-dark: #F58Eb1;

// Bleu
$water-light: #6DB4F8;
$water: #3D9CF6;
$water-dark: #0B83F4;

// Turquoise
$ruyhoDraft-light: #ACDEE2;
$ruyhoDraft: #85CED4;
$ruyhoDraft-dark: #61BFC7;

// vert
$imperialStout-light: #50A498;
$imperialStout: #3F8177;
$imperialStout-dark: #2F6059;

// noir
$black: #121212; 

// gris
$g50: #F4F7FB;
$g100: #EAF0F6;
$g200: #DAE3EC;
$g300: #CED9E3;
$g400: #C0CCD8;
$g500: #A8B8C7;
$g600: #8B9FB1;
$g700: #687E92;
$g800: #4D6174;
$g900: #2D3E4D;


// Ombres
$shadow-xs: 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06);
$shadow-s: 0px 2px 6px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.02);
$shadow-m: 0px 4px 10px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.02);
$shadow-l: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.04);
$shadow-xl: 0px 12px 24px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
$shadow-xxl: -12px 6px 24px rgba(0, 0, 0, 0.06), -2px 2px 8px rgba(0, 0, 0, 0.04);

// taille police
$fontSize-biggest: 36px;
$fontSize-bigger: 28px;
$fontSize-big: 22px;
$fontSize-normal: 18px;
$fontSize-small: 16px;
$fontSize-smaller: 14px;
$fontSize-smallest: 12px;

// Border radius sizes
$br-size : 14px;
$br-size--small : 5px;

// Screen sizes
$large-screen: 1280px;
$medium-screen: 768px ;
$small-screen: 576px;
$x-small-screen: 320px;
