//##     ## ######## ##       ########  ######## ########   ######
//##     ## ##       ##       ##     ## ##       ##     ## ##    ##
//##     ## ##       ##       ##     ## ##       ##     ## ##
//######### ######   ##       ########  ######   ########   ######
//##     ## ##       ##       ##        ##       ##   ##         ##
//##     ## ##       ##       ##        ##       ##    ##  ##    ##
//##     ## ######## ######## ##        ######## ##     ##  ######

.overflow-visible {overflow: visible !important;}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

// Centrage vertical des éléments dans un container flexbox
.flex-valign-center { align-items: center; }

// ######   ######## ##    ## ######## ########     ###    ##
//##    ##  ##       ###   ## ##       ##     ##   ## ##   ##
//##        ##       ####  ## ##       ##     ##  ##   ##  ##
//##   #### ######   ## ## ## ######   ########  ##     ## ##
//##    ##  ##       ##  #### ##       ##   ##   ######### ##
//##    ##  ##       ##   ### ##       ##    ##  ##     ## ##
// ######   ######## ##    ## ######## ##     ## ##     ## ########
.back-top { position: fixed; bottom: 100px; right: 0; width: 40px;height: 40px; background: red url('img/arrow-up-white.svg') center no-repeat; background-size: 50%; z-index: 100; transform:translateX(0); transition:transform .3s linear;
  &.hide { transform:translateX(100%);}
}

.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

main {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;

    .nsp-background {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: $background;
        border-radius: 8px;
        padding: 3rem;
    }
}

#main-wrapper {
	max-width: 2265px;
	margin-left: auto;
	margin-right: auto;
}

a {
    cursor: pointer !important;
}

.see-more {
    color: $water;
    font-size: $fontSize-smaller;
    font-weight: 600;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;

    img {
        margin-left: 0.5rem;
    }

    &:hover {
        text-decoration: underline;
        color: $water-dark;
    }
}

strong {
    font-weight: 600;
}