body {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-smaller;
  line-height: 1rem;
  color: $g700;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-bigger;
  font-weight: 600;
  color: $g900;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-big;
  font-weight: 600;
  color: $g900;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-normal;
  font-weight: 600;
  color: $water-dark;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-small;
  font-weight: 600;
  color: $stew-dark;
  margin-bottom: 1rem;
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-smaller;
  font-weight: 600;
  margin-bottom: 1rem;
  color: $g900;
}

h6 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-smallest;
  font-weight: 600;
  color: $g900;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-smaller;

  &.p-small {
    font-size: $fontSize-smaller;
  }

  &.p-smaller {
    font-size: $fontSize-smallest;
  }
}

caption {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-small;
  font-style: italic;

  &.c-small {
    font-size: $fontSize-smaller;
  }

  &.c-smaller {
    font-size: $fontSize-smallest;
  }
}

.page-title {
  color: $water-dark;
  font-size: $fontSize-big;
  margin-bottom: 1.5rem;
  line-height: 32px;
}

p.bold {
  font-weight: 600;
}