h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-bigger;
  font-weight: 600;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-big;
  font-weight: 600;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-normal;
  font-weight: 600;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-small;
  font-weight: 600;
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-smaller;
  font-weight: 600;
}

h6 {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-smallest;
  font-weight: 600;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-small;

  &.p-small {
    font-size: $fontSize-smaller;
  }

  &.p-smaller {
    font-size: $fontSize-smallest;
  }
}

caption {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontSize-small;
  font-style: italic;

  &.c-small {
    font-size: $fontSize-smaller;
  }

  &.c-smaller {
    font-size: $fontSize-smallest;
  }
}