.contact {
  &__wrapper { background-color: $primary; background-repeat: no-repeat; background-size: 30%; position: relative; overflow: hidden;
    .container { position: relative; z-index: 2;}
  }
  &__parallax-item { display: inline-block; width: 600px; height: 600px; position: absolute; left: 5%; top: 100%; transform:translateY(-50%); opacity:0.5; z-index: 1;}
  &__content { text-align: center;
    h3 {color:white; font-family: clan-bold; font-size: $fz--h3;}
    p { color:white;
      a { color:white;}
    }
  }
  &__content-text { margin-bottom: 20px;
    p { font-size: $fz--text--small;}
  }
  &__wiki-logo { display: inline-block; max-width: 120px; margin: 0 auto; transform: translateY(-50%);}
  &__intro { color:white; margin-bottom: 20px;}
  &__coord { color:white; margin-bottom: 20px;
    a { color:white;}
  }
}

@media screen and (max-width: $medium-screen) {
  .contact {
    &__wrapper { background-size: 70%; background-position: left center;}
  }
}

@media screen and (max-width: $small-screen) {
  .contact {
    &__wiki-logo { transform: translateY(0); margin: 20px 0;}
  }
}

.gform_wrapper {
  form {
    display: flex;
    font-family: 'Roboto Slab' !important;
    @media(max-width: 1260px) {
      flex-wrap: wrap;
    }

    .gform_body {
      width: 80%;

      @media(max-width: 1260px) {
        width: 100%;
      }

      ul {
        position: relative;
      }

      .contact-subject {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;

        @media(max-width: 1260px) {
          position: inherit;
          width: 100%;
        }

        select {
          width: 100%;
          background-color: $secondary;
          color: white;

          @media (max-width: 1260px) {
            height: 40px;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .contact-message {
        position: absolute;
        right: 0;
        top: 2rem;
        width: 45%;

        @media(max-width: 1060px) {
          position: inherit;
          width: 100%;
          top: 0;
        }
      }
    }

    .gform_footer {
      width: 20%;

      @media(max-width: 1060px) {
        width: 100%;
        margin-top: 2rem;
      }
    }

    input[type=text] {
      background: transparent;
      border: none;
      border-bottom: 1px solid $primary;
      font-family: 'Roboto Slab' !important;
      color: $primary !important;

      &:focus {
        outline: none;
      }
    }

    textarea {
      &:focus {
        outline: none;
      }
    }

    textarea.large {
      height: 230px;
    }

    .gform_button.button {
      height: 260px;
      width: 75px;
      border: 2px solid;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      writing-mode: vertical-lr;
      text-transform: uppercase;

      @media(max-width: 1260px) {
        height: 75px;
        width: 100%;
        background-color: $primary;
        color: white;
        border: none;
      }

      &:hover {
        background-color: $primary;
        color: white;
      }
    }
  }
}