.footer {
	h2 {
		text-transform: uppercase;
		font-size: 2.8rem;
		margin-bottom: 4rem;
	}

	@media (max-width: 380px) {
		h2 {
			font-size: 1.8rem;
			margin-bottom: 2rem;
		}
	}

	&-partenaires {
		padding: 4rem;
		font-family: 'Open Sans';
		font-weight: 800;
		text-align: center;

		p {
			display: flex;
			justify-content: space-between;
		}

		@media(max-width: 1260px) {
			padding: 1rem 0;
			p {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			a {
				width: inherit;

			}
		}
	}

	&-questions {
		display: flex;
		align-items: flex-start;

		&-texte {
			background-color: $primary;
			width: 80%;
			padding: 7.2rem;
			text-align: center;
			font-family: 'Open Sans';
			font-weight: 800;

			h2 {
				color: white;
				text-transform: uppercase;
				font-size: 2.8rem;
				margin-bottom: 4rem;
			}

			@media(max-width: 1060px) {
				width: 100%;
				padding: 2rem;

				h2 {
					font-size: 2rem;
					margin-bottom: 2rem;
				}
			}

			@media (max-width: 380px) {
				h2 {
					font-size: 1.8rem;
				}
			}

			div {
				display: flex;
				justify-content: space-between;

				@media(max-width: 1060px) {
					flex-wrap: wrap;
					justify-content: center;

					a {
						align-self: center;
						margin-bottom: 1rem;
						margin-right: 1rem;
					}
				}
			}
		}

		&-img {
			@media(max-width: 1060px) {
				display: none;
			}
		}
	}

	&-bottom { 
		max-height: 80px;
		padding: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1260px) {
			flex-wrap: wrap;
			padding: 2rem;
			max-height: inherit;
			justify-content: center;
		}

		&-logos {
			display: flex;
			align-items: center;

			a {
				margin-right: 1rem;
				margin-left: 1rem;
			}

			img {
				max-height: 80px;
			}

			@media (max-width: 1260px) {
				margin-bottom: 2rem;
			}
		}

		&-links {
			a {
				font-family: 'Roboto Slab';
				margin-right: 1rem;
				color: $primary;

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}

			@media (max-width: 1260px) {
				margin-bottom: 2rem;
			}
		}

		&-copyright {
			font-family: 'Roboto Slab';
			color: $primary;
		}
	}
}