.home {
	height: 100vh;

	@media (max-width: 1260px) {
		display: inherit;
	}
	.nsp-background-content {
		background: transparent;
		width: 80%;
		height: 100% !important;
		margin: inherit;
		margin-left: auto;
		margin-right: auto;
		color: white;
		text-align: center;
		font-family: "Open sans" !important;


		@media (max-width: 1260px) {
			width: 95%;
		}

		h1 {
			font-size: 64px;
			@media (max-width: 1260px) {
				margin: 0;
				font-size: 40px;
			}
		}

		h2 {
			font-size: 36px;
			line-height: 49px;
			font-weight: normal;

			@media (max-width: 1260px) {
				font-size: 22px;
			}
		}

		p {
			color: white !important;
			font-size: 24px !important;
			font-weight: normal;

			@media (max-width: 1260px) {
				font-size: 18px !important;
			}
		}

		.actions {
			display: flex;
			justify-content: center;
			margin-top: 2rem;

			@media (max-width: 1260px) {
				flex-wrap: wrap;
				align-items: center;

				.button {
					margin-bottom: 2rem;
					margin-right: 0 !important;
				}
			}

			a {
				text-decoration: none;
			}

			.button {
				width: 253px;
				height: 58px;
				border-radius: 8px;
				background: $secondary;
				color: $primary;
				font-weight: bold;
				display: flex;
			    flex-wrap: wrap;
			    align-items: center;
			    justify-content: center;
			    margin-right: 2rem;
			    border: 2px solid $secondary;

			    svg {
			    	margin-right: 0.5rem;
			    }

			    &:hover {
		        	background-color: $primary;
		        	color: white;
		        	border-color: $primary;

		        	path {
		        		fill: white;
		        	}
		      	}
			}

			.button.mod-outline {
				color: white;
				border-color: white;
				background-color: transparent;

				&:hover {
		        	background-color: $primary;
		        	color: white;
		        	border-color: $primary;

		        	path {
		        		fill: white;
		        	}
		      	}
			}
		}
	}
}