.nsp-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;

	&-element {
		width: 48%;
		// height: 385px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5rem;
		background-color: #F3F4F6;
		padding: 1rem;

		@media(max-width: 1260px) {
			width: 100%;
		}

		@media(min-width: 1260px) {
			&:hover {
				cursor: pointer;

				.nsp-list-element-logo-link {
					// opacity: 0;
					display: none;
				}

				.btn {
					display: none;
				}

				.nsp-list-element-content {
					opacity: 1;
				}
			}
		}

		&-logo {
			max-width: 100%;
			width: 100%;
			height: auto;
			display: block;

			img {
			    max-width: 80%;
			    height: auto;
			    margin-left: auto;
			    margin-right: auto;
			    display: block;
			}
		}

		&-content {
			position: absolute;
			width: 90%;
			height: 90%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			opacity: 0;
			-webkit-transition: opacity 250ms ease-in-out;
		    -moz-transition: opacity 250ms ease-in-out;
		    -ms-transition: opacity 250ms ease-in-out;
		    -o-transition: opacity 250ms ease-in-out;

			@media(min-width: 1260px) {
				&:hover {
					border: 2px solid $secondary;
					box-sizing: border-box;
					background-color: white;
					opacity: 1;

					p {
						display: block;
						color: $secondary;
						text-transform: uppercase;
						width: 100%;
						text-align: center;
						font-size: 2rem;
						font-family: 'Open Sans';
					}
				}
			}


			a.btn {
				height: 100%;
				align-self: flex-end;
			}

			p {
				display: none;
			}
		}
	}
}