.contact {
  &__wrapper { background-color: $black; background-repeat: no-repeat; background-size: 30%; position: relative; overflow: hidden;
    .container { position: relative; z-index: 2;}
  }
  &__parallax-item { display: inline-block; width: 600px; height: 600px; position: absolute; left: 5%; top: 100%; transform:translateY(-50%); opacity:0.5; z-index: 1;}
  &__content { text-align: center;
    h3 {color:white; font-family: clan-bold; font-size: $fontSize-normal;}
    p { color:white;
      a { color:white;}
    }
  }
  &__content-text { margin-bottom: 20px;
    p { font-size: $fontSize-smaller;}
  }
  &__wiki-logo { display: inline-block; max-width: 120px; margin: 0 auto; transform: translateY(-50%);}
  &__intro { color:white; margin-bottom: 20px;}
  &__coord { color:white; margin-bottom: 20px;
    a { color:white;}
  }
}

@media screen and (max-width: $medium-screen) {
  .contact {
    &__wrapper { background-size: 70%; background-position: left center;}
  }
}

@media screen and (max-width: $small-screen) {
  .contact {
    &__wiki-logo { transform: translateY(0); margin: 20px 0;}
  }
}

.gform_body {
  display: flex;
  justify-content: center;
}

.gform_fields {
  max-width: 400px;
  display: flex !important;
  flex-wrap: wrap !important;
  border: 1px solid $g200;
  border-radius: 8px;
  font-family: 'Work Sans';
  background-color: white;
}

.gfield_label {
  font-family: 'Work Sans' !important;
  color: $g600 !important;
}

.gfield {
  width: 100%;
  margin-top: 0 !important;
  border-bottom: 1px solid $g200;
  background-color: white;
  padding: 0.5rem 1rem !important;

  &.gfield_error {
    max-width: 100% !important;
    background-color: white !important;
    width: 100% !important;
    margin: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid $g200 !important;

    &:not(.gf_left_half):not(.gf_right_half) {
      max-width: 100% !important;
      background-color: red;
    }
  }

  &:first-child, &:nth-child(2) {
    width: 50% !important;

    &.gfield_error {
      width: 100%;
    }

    @media (max-width: $medium-screen) {
      width: 100% !important;
    }
  }

  &:first-child {
    border-top-left-radius: 8px;
    border-right: 1px solid $g200;
  }

  &:nth-child(2) {
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  input {
    border: none !important;
    width: 100% !important;
    padding: 0 !important;

    &::placeholder {
      color: $g400 !important;
    }

    &:focus {
      outline: 0;
    }
  }
}

.gfield_select, .textarea  {
  border: 0 !important;
  padding: 0 !important;
  border: none !important;

  &::placeholder {
    color: $g400 !important;
  }

  &:focus {
    outline: 0;
  }
}

.gform_footer  {
  margin-top: 0 !important;
  text-align: right;
  max-width: 400px;
  margin-left: auto !important;
  margin-right: auto  !important;

  input.button {
    margin-right: 0 !important;
  }
}

.gform_wrapper textarea.large {
  height: 160px !important;
}

.contact-page {
  .nsp-background {
    position: relative;
  
    @media (min-width: $medium-screen) {
      &::after {
        content: url('img/main-feuille.png');
        position: absolute;
        right: -1rem;
        top: 6rem;
      }

      &::before {
        content: url('img/tireuse.png');
        position: absolute;
        left: -1rem;
        bottom: 2rem;
      }
    }

    @media (max-width: $medium-screen) {
      &::before {
        content: url('img/tireuse.png');
        position: absolute;
        left: -1rem;
        bottom: 2rem;
      }
    }

    @media (max-width: $small-screen) {
      &::before {
        display: none;
      }
    }
  }
}