.menu-item {
    a {
        text-decoration: none !important;
        &:hover, &:focus {
            text-decoration: none !important;
        }
    }
}

#responsive-menu-container {
    width: 90% !important;
    background-color: white !important;
    left: 0 !important;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04), 0px 4px 16px rgba(0, 0, 0, 0.08);
}

#responsive-menu-container #responsive-menu li.responsive-menu-current-item > .responsive-menu-item-link {
    background-color: white !important;
    color: $water !important;

    &:after {
        display: block;
        content: '';
        background-color: #3D9CF6;
        height: 4px;
        width: 100%;
        border-radius: 8px 8px 0px 0px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

#responsive-menu li.responsive-menu-item a {
    background-color: white !important;
    color: $g900 !important;
    border: none !important;
    font-size: 16px !important;
    width: fit-content !important;

    &:hover {
        color: $water !important;
    }
} 

#responsive-menu li.responsive-menu-item {
    padding: 8px 24px !important;

    &:hover {
        a {
            color: $water !important;

            &:after {
                display: block;
                content: '';
                background-color: #3D9CF6;
                height: 4px;
                width: 100%;
                border-radius: 8px 8px 0px 0px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}

#responsive-menu-additional-content {
    background-color: white !important;
}

#responsive-menu {
    padding: 1.5rem !important;
}

#responsive-menu-wrapper {
    background: white !important;
}